body,
html {
    font-family: century gothic;
    scroll-behavior: smooth;
}

#header {
    max-width: 100%;
    background-color: #FFC300;
    transition: background ease-out 0.2s;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    color: #001d3d;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 1px;
    font-size: large;
    font-weight: 550;
}

#header .nav-link:hover {
    background-color: #001d3d;
    color: #FFC300;
    border-radius: 15px;
}

#header .dropdown-item,
.dropdown-menu {
    background-color: #001d3d;
    color: #FFC300;
    text-transform: lowercase;
}

#header .dropdown-item:hover {
    background-color: #FFC300;
    color: #001d3d;
}

.first-container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 20px;
    background: url(../images/logistica.png) center;
    background-size: 130%;
    transition: ease 0.2s;
}

.first-container:hover {
    background-size: 150%;
    transition: ease 0.2s;
    background-image: url(../images/logistica_blur.png);
}

.second-container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 20px;
    background: url(../images/contrato.png) center;
    background-size: 130%;
    transition: ease 0.2s;
}

.second-container:hover {
    background-size: 150%;
    transition: ease 0.2s;
    background-image: url(../images/contrato_blur.png);
}

.first-container h3 {
    margin-top: 20px;
    color: white;
    font-weight: 550;
}

.first-container h4 {
    text-transform: lowercase;
    color: white;
}

.second-container h3 {
    margin-top: 20px;
    color: #FFC300;
    font-weight: 550;
}

.second-container h4 {
    text-transform: lowercase;
    color: wheat;
}

.middle-container h1 {
    color: #003566;
    font-weight: bolder;
    transition: ease 0.2s;
}

.first-container:hover+.middle-container h1 {
    color: #FFC300;
    transition: ease 0.2s;
}

.up-first-container {
    color: wheat;
}

.container-geral-first {
    margin-top: 60px;
    border-radius: 20px;
}

#slider {
    background: url(../images/background-1.png) center;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.formLogin {
    background-color: wheat;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px;
}
#header {
    position: sticky;
    top: 0;
}